/* AboutMe.css */

.about-me-container {
  display: flex;
  align-items: center;
  width: 80vw;
  max-width: 1600px;
  height: 100%;
}

.about-me-side-container {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.profile-image {
  width: 100%;
  border-radius: 50%;
}

.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.social-icon {
  font-size: 2em;
}

.text-container {
  padding: 20px;
}

p {
  line-height: 1.5;
}

#github-icon svg {
  color: #f0f0f0;
}

#linkedin-icon svg {
  color: #0077cc;
}

@media (max-width: 900px) {
  .about-me-container {
    flex-direction: column;
    width: 90vw;
  }

  .about-me-side-container {
    align-items: center;
  }

  .text-container {
    padding: 20px 0;
  }
  .image-container {
    width: 100%;
    max-width: 300px;
  }
}
