:root {
  --icon-radius: 4em;
  --header-height: 175px;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
}
