.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}
.category-title {
  user-select: none;
}

.portfolio-item {
  width: 20vw;
  min-width: 190px;
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.3s ease;
  text-align: center;
}
.portfolio-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.category-projects {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-item h1 {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333;
}

.portfolio-item p {
  font-size: 1rem;
  color: #555;
  padding: 0;
  margin: 0;
}

.portfolio-item-languages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;

  gap: 10px;
  justify-content: center !important;
}

.portfolio-item-languages p {
  font-size: 0.8rem;
  border-radius: 5px;
  margin: 0;
}

.portfolio-item-links {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: flex-end !important;
}

.portfolio-item-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  text-align: center;
}

.portfolio-item-links a:hover {
  background-color: #333;
  color: #fff;
}
