/* Dark mode color scheme */
.root {
  --background-color: #333333;
  --text-color: #f0f0f0;

  --navBar-background-color: #1a1e23;
  --navBar-image-overlay: rgba(0, 0, 0, 0.6);
  --navBar-text-color: white;
  --navBar-line-color: hsla(210, 29%, 24%, 0.3);
  --navBar-burger-color: hsl(0, 0%, 50%);

  --accent-color: #0077cc;

  --dark-mode-button-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #333333;
  color: #f0f0f0;
}

/* roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
